@charset "utf-8";
html,body {
  margin:0;
  padding:0;
  font-size:12px;
  color:#364f56;
  background:url(../img/admin/wsjbeijing.jpg) repeat-y 0 0;
  overflow-x:hidden;
  width:100%;
  height:100%;
  font-family:Verdana, Geneva, sans-serif;
}
img { border:0px; }
form {
  margin:0;
  padding:0;
}
input[type=text], input[type=password], textarea {
  border-top:1px solid #404040;
  border-left:1px solid #404040;
  border-right:1px solid #D4D0C8;
  border-bottom:1px solid #D4D0C8;
}
input[type=text], input[type=password] { height:17px; }
input[type=text]:focus, input[type=password]:focus, textarea:focus { border:1px solid #000000; }
input[type=button], input[type=submit], input[type=reset] {
  padding:1px;
  font-size:12px;
  border:1px solid;
  border-color:#ddd #666 #666 #ddd;
  background:#DDD;
  color:#000;
}
/*链接总的css定义*/
a { text-decoration:none; }
a:link { color:#364f56; }
a:visited { color:#333333; }
a:hover { color: #ae0927; }
a:active { color: #0000ff; }
/*菜单链接*/
a.channel:link { color:#ffffff; }
a.channel:visited { color:#ffffff; }
a.channel:hover { color:#ffff00; }
a.channel:active { color:#ffffff; }
/*菜单链接*/
a.normal { text-decoration:underline; }
.clear { clear:both; }
/*后台管理界面body体*/
.body-box {
  width:99%;
  margin:0 auto;
}
.body-box table { margin-top:5px!important;/* 提高样式的优先级别为最高 */}
/*后台左页body*/
.lbody {
  background:url(../img/admin/lbg.jpg) right repeat-y #F4F7FB;
  color:#666666;
  margin-right:6px;
}
/*后台左页菜单*/
.lmenu {
  padding:0px;
  margin:10px 0px 0px 0px;
  list-style:none;
}
.lmenu a {
  display:block;
  padding:7px 0px 7px 30px;
  background:url(../img/admin/circle.gif) no-repeat 15px -1px;
}
.lmenu-focus { background-color:#DDECEF; }
/*后台左页树*/
.lttop {
  padding:10px 0px 2px 0px;
  text-align:center;
}
/*===================== 后台右页面包屑 =====================*/
.rhead {
  background:url(../img/admin/bg_brand.gif) repeat-x 0 0;
  border:1px solid #8DBAD1;
  height:28px;
  line-height:28px;
  margin-top:5px;
}
.rpos {
  float:left;
  background:url(../img/admin/arrow.gif) no-repeat 3px center;
  padding-left:33px;
}
/*后台右页操作*/
.ropt { float:right; }

/*===================== 登陆页面样式 =====================*/
table { margin-top:65px!important;/* 提高样式的优先级别为最高 */}
#loginform { width:497px;}
#loginform table { margin-top:20px!important;/* 提高样式的优先级别为最高 */}
#loginform table td {
  font-size:0px;
  color:#4abff4;
  height:5px;
}
#loginform table td.f12-white {
  text-indent:-9999px;
  text-align:left;
  height:58px;
  *height:50px;/* only ie6 ie7 */
  width:23%;
}
#loginform table td input.text_ {
  background:url(../img/login/bg_input.gif) repeat-x 0 0;
  margin-top:30px;
  padding:0 10px;
  width:299px;
  height:38px;
  line-height:38px;
  border:1px solid #8bd1f1;
  border-right:1px solid #3e9bc5;
  border-bottom:1px solid #3e9bc5;
  color:#076c92;
  font-size:16px;
}
#loginform table td input.text_:focus {
  border-color:#8bd1f1;
  border-top-color:#3e9bc5;
  border-left-color:#3e9bc5;
}
#loginform table td img { margin-left:45px;}
/*错误提示信息样式*/
#loginform div.login_message {
  top:0;
  left:0;
  position:absolute;
  z-index:999;
  background:url(../img/login/bg_top.gif) repeat-x 0 0;
  font-size:12px;
  font-weight:bold;
  color:#ff6000;
  height:34px;
  line-height:35px;
  margin:0;
  border-bottom:1px solid #3f9cc6;
  width:100%;
  _width:268%;/* only ie6 */
  _text-align:left;/* only ie6 */
  _padding:0 0 0 15px;/* only ie6 */
}


/*===================== 登陆后头部样式 =====================*/
#top { background:url(../img/admin/bg_top.gif) repeat 0 0;}
#top table{ margin-top:0!important;/* 提高样式的优先级别为最高 */}
#top div { border-top-color:#3f9cc6!important;/* 提高样式的优先级别为最高 */}
#top table td {
  margin-top:0;
  background-position:right 0;
  color:#364f56;
  height:32px;
  padding:1px 0 0 0;
}
#top table table td {
  background-repeat:no-repeat;
  padding:0;
}
#top table table table td { background-repeat:repeat-x;}
#top table table table td img {
  width:22px;
  height:33px;
}
#top table td span {
  color:#e6f7fe!important;/* 提高样式的优先级别为最高 */
  font-weight:bold;
  padding-left:5px;
}
#top table td a { font-weight:bold;}
#top table td a span {
  font-weight:normal;
  color:#fff!important;/* 提高样式的优先级别为最高 */
}

/*===================== 登陆后首页正文样式 =====================*/
.body-box table {
  border-width:1px!important;/* 提高样式的优先级别为最高 */
  border-style:solid!important;/* 提高样式的优先级别为最高 */
  border-color:#5eaed3 #3f9cc6!important;/* 提高样式的优先级别为最高 */
}
.body-box table td[width] { height:0;}
.body-box table td[background] { height:33px;}
.body-box table td[align=right] {
  background:#fff url(../img/admin/icon2.gif) no-repeat 10px center;
  padding-left:43px;
}
.body-box table tr { _padding-bottom:expression(this.nextSibling==null?'20px':'');/* only ie6 */}
.body-box table td {
  height:45px;
  border:0!important;/* 提高样式的优先级别为最高 */
  background-color:#fff;
  font-size:13px;
  text-align:left;
  _height:33px;/* only ie6 */
  _line-height:33px;/* only ie6 */
}
.body-box table td { _padding-left:expression(this.previousSibling==null?'20px':'');/* only ie6 */}
.body-box table td img {
  position:relative;
  _left:-17px;/* only ie6 */
  top:-1px;
}
.body-box table td strong {
  _position:relative;/* only ie6 */
  _left:-22px;/* only ie6 */
}



















