.bottom {
	BORDER-BOTTOM: #909090 1px solid; BORDER-LEFT: #909090 1px solid; MARGIN-TOP: 4px; WIDTH: 978px; FLOAT: left; HEIGHT: 105px; OVERFLOW: hidden; BORDER-TOP: #909090 1px solid; BORDER-RIGHT: #909090 1px solid
}
.bootom_1 {
	WIDTH: 271px; FLOAT: left; HEIGHT: 101px; OVERFLOW: hidden
}
.bootom_2 {
	MARGIN-TOP: 2px; WIDTH: 707px; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden
}
.bootom_3 {
	LINE-HEIGHT: 18px; MARGIN-TOP: 5px; WIDTH: 60px; FLOAT: left; HEIGHT: 18px; OVERFLOW: hidden
}
.bootom_4 {
	BORDER-LEFT: #000000 1px solid; MARGIN-TOP: 5px; WIDTH: 1px; FLOAT: left; HEIGHT: 16px; OVERFLOW: hidden
}
.bootom_5 {
	MARGIN-TOP: 5px; WIDTH: 82px; FLOAT: left; HEIGHT: 18px; OVERFLOW: hidden
}
.bootom_6 {
	WIDTH: 219px; FLOAT: left; HEIGHT: 49px; OVERFLOW: hidden
}
.bootom_7 {
	WIDTH: 157px; FLOAT: left; HEIGHT: 49px; OVERFLOW: hidden
}
.bootom_8 {
	LINE-HEIGHT: 22px; MARGIN-TOP: 29px; WIDTH: 330px; FLOAT: left; HEIGHT: 20px; COLOR: #4871c4; OVERFLOW: hidden
}
.bootom_9 {
	LINE-HEIGHT: 22px; WIDTH: 115px; FLOAT: left; HEIGHT: 20px; COLOR: #4871c4; OVERFLOW: hidden
}
.bootom_10 {
	LINE-HEIGHT: 22px; MARGIN-TOP: 5px; WIDTH: 425px; FLOAT: left; HEIGHT: 20px; COLOR: #4871c4; OVERFLOW: hidden
}
.bootom_11 {
	LINE-HEIGHT: 22px; MARGIN-TOP: 5px; WIDTH: 125px; FLOAT: left; HEIGHT: 20px; OVERFLOW: hidden
}
