
  /* css reset */
  body {
    margin: 0;
    padding: 0;
    color: #333
  }

  * {
    line-height: 18px;
    font-size: 12px
  }

  p, ul, dl, dt, dd, h1, h2, form {
    margin: 0;
    padding: 0
  }

  img {
    border: 0
  }

  li {
    list-style: none
  }

  a {
    color: #039;
    text-decoration: underline
  }

  a:hover {
    color: #f00;
    text-decoration: none
  }

  div, ul, dl {
    zoom: 1;
    overflow: hidden
  }

  p, dl, li {
    padding: 0 5px
  }

  #wrap {
    width: 93%;
    background: #f5fee3;
    border: 0px solid #c8d8f2;
    margin: 0 auto
  }

  h1, h2 {
    margin: 0 5px;
    border-bottom: 0px solid #bec8d8;
    font-weight: normal
  }

  h1 {
    text-align: center;
    line-height: 25px;
  }

  h3 {
    margin: 0 5px;
    border-bottom: 1px solid #bec8d8;
    padding-top: 5px;
    font-weight: normal
  }

  li, dt {
    color: #666
  }

  dt {
    background: url(images/bb8ccfcd.gif) no-repeat 0 50%;
    padding-left: 8px
  }

  dd {
    padding-bottom: 5px;
  }

  .p {
    background: url(images/ab88457c.gif) #c2d9ff repeat-x;
    line-height: 25px;
    border: solid #88aae1;
    border-width: 1px 0 1px 0
  }

  .p, .p a {
    color: #575757
  }

  .p a:hover {
    color: #f00
  }

  .f {
    border: 0px solid #f5fee3;
    padding: 5px;
    margin: 0 5px
  }

  .i_t {
    border: 1px solid #b3b9c3
  }

  .b1 {
    background: url(images/2bb29284.jpg) no-repeat;
    width: 46px;
    height: 19px;
    border: none;
    cursor: pointer
  }

  .top {
    text-align: center
  }

  .foot {
    background:url(../images/bottom.gif) repeat-x;
    text-align: center;
    padding: 10px 0;
    color: #747474
  }

  .foot a {
    color: #000
  }

  .foot a:hover {
    color: #f00
  }

  .f1 {
    font-family: Arial
  }

  div.mg {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .ul2 li {
    background: url(images/8505d96f.gif) 5px 50% no-repeat;
    padding-left: 13px
  }

  .n1 a, .n2 a, .n3 a, .n4 a, .n5 a, .n6 a {
    text-decoration: none;
  }

  .n1 {
    border: 1px solid #d9d9d9;
    background: #fcfcfc url(images/242fa080.gif) repeat-x;
    color: #666;
  }

  .n1 a {
    color: #666;
  }

  .tempright {
    float: right;
  }

  .mL {
    text-align: left;
    color: #faa7a7;
    padding-top: 10px
  }

  .mL a {
    color: #666
  }

  .mL a:hover {
    color: #f00
  }
