/* GENERAL */
.save{background-color:#1C5582; border:1px solid #8AB3C9; color:#FFF; padding:1px 10px!important; padding:1px 5px;}

.spinner {
  padding:5px;
  position:absolute;
  right:0;
}
*, html {
  margin:0;
  padding:0;
}
body {
  background:url(../images/skin/wsjbeijing.jpg) top repeat-y;
  color:#0E3D7E;
  font:12px verdana, arial, helvetica, sans-serif;
  margin:5px 0 0 0;
  padding:0;
}
ul, ol, li {
  list-style:none;
  padding:0;
  margin:0;
}
a:link, a:visited, a:hover {
  color:#0E3D7E;
  text-decoration:none;
}
a:hover { text-decoration:underline; }
h1 {
  font-size:18px;
  padding-left:5px;
}
h1 a:hover {
  color:#ffffff;
  text-decoration:none;
  background-color:#0063dc;
}
h1 a:link, h1 a:visited {
  color:#1057ae;
  text-decoration:none
}
h2 {
  color:#006dba;
  font-weight:normal;
  font-size:18px;
  margin:10px 0;
  padding-left:5px;
}
ul { padding-left:15px; }
input, select, textarea {
  background-color:#ffffff;
  border:1px solid #ccc;
  font:12px verdana, arial, helvetica, sans-serif;
  margin:2px 0;
  padding:2px 4px;
}
select { padding:2px 2px 2px 0; }
textarea {
  width:550px;
  height:350px;
  vertical-align:top;
}
input[type=text] { width:300px; }
input:focus, select:focus, textarea:focus { border:1px solid #b2d1ff; }
.body {
  width:99%;
  margin:0 auto;
  width:100%\9;/* only ie */
  margin:0 0 0 8px\9;/* only ie */
}
.snippet, .stack { border:1px solid #b7d9e8!important;/* 提高样式的优先级别为最高 */}
.stack {
  width:99%;
  margin:0 0 5px 10px;
}

/*===================== 工具导航样式 =====================*/
.nav {
  width:65%;
  /*background:url(../img/admin/icon_tit.gif) no-repeat 8px 0;*/
  text-align:right;
  position:absolute;
  z-index:1;
  top:12px;
  right:25px;
}
.menuButton {
  background:url(../images/skin/bg_menuBtn.png) no-repeat right 0;
  display:inline-block;
  height:24px;
  padding-right:5px;
  margin:0 5px 0 0;
  margin:0 0 0 5px\9;/* only ie */
}
.menuButton a {
  color:#2f99c9;
  display:inline-block;
  height:24px;
  line-height:22px;
  line-height:24px\9;/* only ie */
  padding-left:35px;
  background-position:0 0;
  background-repeat:no-repeat;
}
.menuButton a.home {
  background-image:url(../images/skin/house.png);
  font-weight:bold;
}
.menuButton a.list { background-image:url(../images/skin/database_table.png);}
.menuButton a.create { background-image:url(../images/skin/database_add.png);}
.menuButton a.reload { background-image:url(../images/skin/DB_Refresh.png);}

/*===================== 当前操作提示样式 =====================*/
.body h1 {
  background:#fff url(../img/admin/bg_tit.gif) repeat-x 0 0;
  padding:1px 0 0 10px;
  color:#2f99c9;
  font-size:15px;
  font-weight:bold;
  border:1px solid #b7d9e8;
  line-height:34px;
  height:33px;
  margin-bottom:5px;
}
.body h1 a {
  padding:0 5px;
  text-decoration:underline;
}

/*===================== 表格样式 =====================*/
table {
  border:0;
  border-bottom:2px solid #b7d9e8;
  margin-top:5px;
  width:100%;
  font-size:12px;
}
tr { border:0;/* only ff */}
th, td {
  line-height:30px;
  text-align:left;
  vertical-align:middle;
  border-bottom:1px dotted #a7cee4;
  white-space:nowrap;
  word-wrap:break-word;
}
td { padding:0 8px;}
th {
  color:#666;
  font-weight:bold;
  background:url(../img/admin/bg_tableTh.gif) repeat-x 0 0;
  height:28px;
  line-height:28px;
  padding:0 5px;
}
th a:link, th a:visited, th a:hover {
  color:#666;
  display:block;
  padding:0 5px;
  text-decoration:none; /*width:100%;*/
}
th a:hover {
  background-color:#eef4ff;
  background-color:transparent\9;/* only ie */
  text-decoration:none;
  background:url(../images/skin/sorted.gif) no-repeat right center;
}
th.asc a, th.desc a {
  background-position:right center;
  background-repeat:no-repeat;
}
th.asc a { background-image:url(../images/skin/sorted_asc.gif); }/* up */
th.desc a { background-image:url(../images/skin/sorted_desc.gif); }/* down */
.odd { background:#fff;}/* 奇数 */
.even { background:#f6fcff;}/* 偶数 */

/*===================== 分页样式 =====================*/
.paginateButtons {
  width:99%;
  margin:0 auto;
  width:100%\9;/* only ie */
  margin:0 0 0 8px\9;/* only ie */
  color:#666;
  height:32px;
  height:45px\9;/* only ie */
  padding-top:13px;
  text-align:center;
}
.paginateButtons a {
  background-color:#fff;
  border:1px solid #ccc;
  border-color:#ccc #aaa #aaa #ccc;
  color:#666;
  margin:0 3px;
  padding:2px 6px;
  padding:2px 6px 3px 6px\9;
}
.paginateButtons a:link, .paginateButtons a:visited, .paginateButtons a:hover { color:#666;}
.paginateButtons a.prevLink {
  background:#fff url(../images/skin/p_arrowL.gif) no-repeat left center;
  padding-left:17px;
  padding:4px 5px 1px 17px\9;/* only ie */
}
.paginateButtons a.nextLink {
  background:#fff url(../images/skin/p_arrowR.gif) no-repeat right center;
  padding-right:17px;
  padding:4px 17px 1px 5px\9;/* only ie */
}
.paginateButtons span { padding:2px 3px; }

/*===================== 表格外区域框样式 list =====================*/
div.list, div.dialog { width:100%;}
.list table { border-collapse:collapse;}
.list th {
  border-width:1px 1px 2px 1px;
  border-style:solid;
  border-color:#b7d9e8 #e1eeff;
}
.list th:hover, .list tr:hover { background:#eef4ff;}
.list td input { border:0;}

/*===================== 会话样式 dialog =====================*/
.dialog table {
  border:2px solid #b7d9e8;
  border-bottom-width:1px;
  border-collapse:collapse;/* 解决表格列无内容时，border不显示的问题 */
  background:#FFF;
}
.dialog tr.prop td {
  height:45px;
  vertical-align:middle;
}
tr.prop .name {
  width:18%;
  background-color:#eef4ff;
  color:#666;
  font-size:13px;
  font-weight:bold;
  white-space:nowrap;
  text-align:right;
}
tr.prop .value {
  text-align:left;
  width:82%;
  white-space:normal ;
  word-wrap:break-word;
}
tr.prop .value input, tr.prop .value textarea {
  width:350px;
  height:28px;
  line-height:22px;
  vertical-align:middle;
  border-top-color:#e1e1e1;
  border-left-color:#e1e1e1;
  color:#000000;
}
tr.prop .value textarea { height:200px;}
tr.prop .value span input {
  width:20px;
  border:0;
}

tr.prop .value .desc {
  margin:3px 0;
  color:#999;
}
.true { background:transparent url(../images/true.png) no-repeat center left ;}
.false { background:transparent url(../images/false.png) no-repeat center left;}

tr.prop .value ul { padding-left:0;}
tr.prop .value br { display:none;}
tr.prop .value li {
  float:left;
  width:139px;
  width:133px\9;/* only ie */
  margin-right:5px;
}
tr.prop .value li ul li { float:none;}
/* 输入信息表格内，特殊复选框样式 */
#enabled, #emailShow, #checkSmsYn, #ROLE_SYSUSER, #ROLE_TINYURL, #ROLE_BOOKMARK, #ROLE_SPTEST, #ROLE_REPORT, #needUa,
#isAllowNull, #checkall {
  width:20px;
  border:0;
}
/* 输入信息内，表格样式 */
tr.prop .value table  {}
tr.prop .value table span { display:block;}
tr.prop .value table input {
  border:0;
  width:23px;
  color:#535353;
  font-family:"黑体";
}

/*===================== 操作按钮样式 =====================*/
.buttons {
  background:url(../images/skin/shadow.jpg) repeat-x 0 0;
  border-top:2px solid #b7d9e8;
  border-bottom:1px solid #e5f7ff;
  color:#666;
  height:35px;
  height:45px\9;/* only ie */
  padding-top:10px;
  width:100%;
  margin:5px auto 0 auto;
}
.buttons .button {
  display:inline-block;
  background:url(../images/skin/bg_btn.png) no-repeat right 0;
  height:26px;
  padding-right:10px;
  margin:0 8px;
}
.buttons input {
  background-color:transparent;
  border:0;
  padding-top:0px;
  margin:0;
  color:#333;
  cursor:pointer;
  font-weight:bold;
  background-position:left 0;
  background-repeat:no-repeat;
  height:26px;
  line-height:28px\9;/* only ie */
  padding-left:28px;
}
.buttons input.delete { background-image:url(../images/skin/database_delete.png);}
.buttons input.edit { background-image:url(../images/skin/database_edit.png);}
.buttons input.export { background-image:url(../images/skin/DB_Refresh.png);}
.buttons input.save {background-image:url(../images/skin/database_save.png);}
.buttons input.reload { background-image:url(../images/skin/DB_Refresh.png);}

/*===================== 提示信息（错误/正确）样式 =====================*/
.body div.message {
  width:96%;
  margin:10px auto 5px auto;
  width:100%\9;/* only ie */
  margin:0 0 5px 8px\9;/* only ie */
}
.body div.errors {
  width:99%;
  margin:10px auto 5px auto;
  width:100%\9;/* only ie */
  margin:10px 0 5px 8px\9;/* only ie */
}
div.message {
  background:#f3f8fc url(../images/skin/information.png) no-repeat 8px center;
  border:1px solid #b2d1ff;
  color:#006dba;
  width:96%;
  width:99%\9;/* only ie */
  margin:0 0 5px 10px;
  padding:5px 5px 5px 30px
}
div.errors {
  background:#fff3f3;
  border:1px solid red;
  color:#cc0000;
  padding:5px 0;
}
div.errors ul {
  list-style:none;
  padding:0;
}
div.errors li {
  background:url(../images/skin/exclamation.png) no-repeat 8px top;
  line-height:16px;
  padding-left:30px;
}
td.errors input { border:1px solid red;}

/*===================== form样式 =====================*/
.body form { margin:10px 0;}
.body #myForm {
  height:15px;
  vertical-align:middle;
  display:block;
  margin:-3px 0 8px 0;
  margin:-2px 0 0 0\0;/* only ie8 */
  padding:0 0 0 5px;
}
.body .list form {
  height:0;
  display:inline;
}
.body .buttons form { margin:0;}



#leftmenu {
  position:absolute;
  left:10px;
  margin-top:10px;
  margin-bottom:20px;
  width:180px;
  padding-top:16px;
}
#leftmenu p { margin-left:12px; }
#leftmenu h3 {
  margin:0;
  padding:4px;
  background-color:#E2EBEF;
  font-weight:bold;
  font-size:12px;
  padding:2px 8px;
  height:18px;
  line-height:18px;
  color:#333333;
  border-top-style:solid;
  border-top-color:#cccccc;
  border-top-width:3px;
}
#categorytree { padding:7px 0; }
#leftmenu td, th {

}
#leftmenu table {
  border:0 solid #cccccc;
  margin-left:2px;
}
.divlists { list-style:none; }
.divlists table { border:0 solid #cccccc; }
.divlists td {
  font:12px / 12px verdana, arial, helvetica, sans-serif;
  vertical-align:top;
  padding-top:5px;
  text-align:center;
}
.divlists li {
  text-align:center;
  width:177.5px;
  padding:10px 0;
  float:left;
}
.divlists li img {
  max-width:130px;
  max-height:130px;
  padding:8px;
  border:#cccccc solid 1px;
}
.divlists li .imgon { border-color:#0066ff;}
.divlists name { padding:4px; }
.divlists desc {
  color:#999999;
  padding:0 4px 4px 4px;
}
#busy {
  position:fixed !important;
  position:absolute;
  z-index:100;
  top:7px;
  right:7px;
  border:1px ridge #ccc;
  background-color:#e95555;
  color:#eee;
  padding:3px;
  display:none
}
#searchResultDiv {
  border:1px solid #238ffc;
  background-color:white;
  display:none;
  padding:1px;
  position:absolute;
  z-index:999999;
  width:300px;
}
#searchResultDiv span {
  display:block;
  background:url(../images/flag_blue.png) no-repeat 5px;
  color:#cc6600;
  padding:5px 5px 5px 25px;
  border-bottom:1px dashed #a9d1fa;
  font-weight:bold;
}
#searchResultDiv div { background-color:#c8e1fa; }
#searchResultDiv li {
  cursor:pointer;
  margin:0;
  padding:2px;
  list-style:none;
}
#searchResultDiv ul {
  margin:0;
  padding:0 0 0 20px;
  list-style-position:inside;
  height:110px;
  overflow-x:hidden;
  overflow-y:auto;
}
#searchResultDiv li:hover { background-color:#acd4fb; }
