html, body, p, form, img {
    margin: 0;
    padding: 0;
    border: 0;
}

select, input, img {
    vertical-align: middle;
}

body {
    background: #fff;
    color: #000;
    font-size: 12px;
}

a {
    font-size: 12px;
}

a:link,
a:visited {
    color: #0050B4;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #f00;
    text-decoration: none;
}

.wrap {
    margin: 0 auto;
    width: 226px;
    border: 2px solid #fcf2d7;
    background: #fff;
}

.n1 {
    padding: 3px;
    color: #e1a305;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
}

.n1 a {
    color: #000;
}

.n1 img {
    padding-bottom: 8px;
}

.n2 {
    overflow: hidden;
    zoom: 1;
    background: url(images/4bce225f.gif);
    height: 30px;
}

.n2 .logo {
    float: left;
}

.n2 .n2R {
    float: right;
    height: 30px;
}

.n2 .dh {
    float: right;
    height: 30px;
    width: 95px;
}

.n2 .n2R div {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
}

.n2 .n2R div a {
    color: #000;
}

.n2 .n2R div.cur {
    color: #000;
    font: normal normal 12px / 30px "Arial";
    background: url(images/83127184.gif);
    width: 65px;
}

.n3 {
    background: url(images/dbaeebe5.jpg);
    background-repeat: repeat;
    line-height: 19px;
    padding: 0 3px;
    background-color: #FFEDCA;
}

.n3 a {
    color: #000;
    padding: 0 1px;
}

.n3 a:hover {
    color: #f00;
}

.lS1 {
    line-height: 1.4em;
    padding: 5px 0 0px 6px;
    background: #fafafa;
}

.lS1 p {
    background: url(images/f59b07f6.gif) no-repeat;
    padding-left: 6px;
}

.lS2 {
    line-height: 1.4em;
    padding: 5px 0 0px 6px;
    border-style: solid;
    border-color: #FCF2D7;
    border-width: 0 0 1px 0;
    background: #FFFBDE;
}

.lS2 p {
    background: url(images/f59b07f6.gif) no-repeat;
    padding-left: 6px;
}

.t1 {
    line-height: 18px;
    padding: 3px 0 0 5px;
}

.t1 .t {
    padding-left: 3px;
    overflow: hidden;
}

.t1 a:hover {
    color: #f00;
}

.t1 .b {
    padding-left: 16px;
}

.t1 b {
    font-size: 14px;
}

p.p1 {
    padding-left: 11px;
    line-height: 1.4em;
}

.b3 {
    background: #cbe7f7;
    color: #4fb4ee;
    padding: 2px 2px 2px 6px;
}

.b3 span {
    float: left;
    padding: 2px 0 0 0;
}

.b3 p {
    line-height: 1.4em;
    text-align: center;
}

.i1 {
    height: 12px;
    padding: 1px;
    border: 1px solid #8bc6e8;
    width: 100px;
}

.i2 {
    height: 12px;
    padding: 1px;
    border: 1px solid #8bc6e8;
    width: 76px;
}

select {
    width: 50px;
}

.gt {
    text-align: center;
    height: 10px;
    margin: 3px 0;
}

.gt img {
    display: block;
    margin: 0 auto;
}

.t13 {
    background: url(images/title_bg.gif);
    background-repeat: repeat;
    background-color: #F8DE56;
    border-bottom: 1px solid #FFCF0E;
}

.t14 {
    background: url(images/title_bg.gif);
    background-repeat: repeat;
    background-color: #FCC14B;
    border-bottom: 1px solid #FFCF0E;
}

.t18 {
    background: url(images/title_bg.gif);
    background-repeat: repeat;
    background-color: #FCC14B;
    border-bottom: 1px solid #FFCF0E;
}

.b6 {
    line-height: 1.4em;
    padding: 8px 0 0px 6px;
}

.b6 span, .b6 span a {
    color: #f90;
}

.b6 p {
    background: url(images/4f47bf37.gif) no-repeat;
    padding-left: 6px;
}

.footer {
    background: #fbf2d8;
    text-align: center;
    padding: 8px 5px 0 5px;
    color: #aa5d0b;
    line-height: 1.4em;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: #f00;
}

.footer p.c {
    font-family: arial;
    font-size: 10px;
}

a.d1 {
    background: url(images/50f464e1.gif) no-repeat 0 0px;
    padding-left: 13px;
}

.d2 {
    background: url(images/cb537578.gif) no-repeat 0 2px;
    padding-left: 10px;
}

a:visited {
    color: #800080;
}

.l1 {
    background: #fafafa;
    height: 3px;
    border-bottom: 1px solid #F8DE56;
    margin: 0px 3px 0px 3px;
}

.sp {
    height: 1px;
    background: #E3A524;
}

.b1 {
    line-height: 18px;
    background: #edecec url(images/c06.gif) no-repeat 5px 5px;
    padding-left: 15px;
    height: 18px;
    padding-top: 2px;
    margin: 2px;
}

.nred a {
    color: #f00;
}
