
a.ovalbutton:link, a.ovalbutton:visited, a.ovalbutton:active {
    color: #494949;
}

a.ovalbutton {

    background: transparent url(../img/upload/oval-green-left.gif) no-repeat left top;
    display: block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 24px;
    line-height: 16px;
    padding-left: 11px;
    text-decoration: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;

}

a.ovalbutton span {
    background: transparent url(../img/upload/oval-green-right.gif) no-repeat right top;
    padding: 4px 11px 4px 0;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

a.ovalbutton:hover {
    background-position: left bottom;
}

a.ovalbutton:hover span {
    background-position: right bottom;
    color: black;
}
#jquery_UploadingInfo_div {
    padding: 20px;
    border-width: 5px 1px;
    border: solid #056597;
    z-index: 1000;
    text-align: right;
    width: 300px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    background: #ccc url(../img/upload/loading.gif) no-repeat 10px;
}