@charset "utf-8";
html, body, p, form, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size:12px;

}
body{font-family:'',Arial, Helvetica, sans-serif; font-size:12px; margin:0px; padding:0px; background-color:#f5fee3; color:#404241}

a:link{color:#404241; text-decoration:none;}
a:visited{color:#404241; text-decoration:none;}
a:hover{color:#f30; text-decoration:none;}
a:active{color:#f30; text-decoration:none;}

.dh{padding-left:5px;height:16px ;padding-top:2px;color:#fff;}
.dh a{color:#fff;text-decoration:none;}

.dh2{padding-left:5px;height:20px ;padding-top:2px; vertical-align:bottom;color:#fff;}
.dh2 a{color:#fff;text-decoration:none;}


.wrap{width:240px; height:auto; margin:0px auto;}
.logo{width:240px; height: 28px;}
.maintop2{ width:240px; height:20px; padding-top:0px; margin:auto; }
.maintop2 ul{list-style:none; width:230px; height:20px; margin-top:1px; padding-left:0px;}
.maintop2 ul li{height:20px;float:left; line-height:20px;}

.maintop3{width:240px; height:21px; padding:0px;background:url(../images/topBgLine.gif) repeat-x;}
.maintop3 ul{ list-style:none; width:230px; height:20px; margin-top:1px; padding-left:5px;}
.maintop3 ul li{ float:left; padding:0px 0px 0px 0px; margin:0px; min-width:35px; line-height:21px;}
.maintop3 ul li a{ color:#FFF;}

.maintop4{width:240px; height: auto;padding: 0px 0px 0px 4px; line-height: 1.5em;}
.maintop4 p{ background:url(../images/linebottom.gif) repeat-x; background-position:bottom;}



.maintop5{width:240px; height: auto;padding:0px; margin-top:2px; text-align:center}
.maintop6{ width:240px; height:40px; padding:0px; background:url(../images/main6Bg.gif) no-repeat;}
.maintop6 ul{list-style:none; width:238px; height:8px; margin-top:1px; padding-left:2px; text-align:center}
.maintop6 ul li{ float:left; padding:0px 0px 0px 0px; margin:0px; width:auto; line-height:18px;}
.maintop6 ul li a{ color:#FFF;}
.maintop7{width:240px; height:auto; padding:0px;}
.maintop7 ul{ list-style:none; width:230px; height:auto; margin-top:1px; padding-left:5px;}
.maintop7 ul li{ padding:0px 0px 0px 0px; margin:0px; min-width:230px; line-height:22px; background:url(../images/linebottom.gif) repeat-x; background-position:bottom;}
.maintop8{ width:240px; height:40px; padding:0px; background:url(../images/main8Bg.gif) no-repeat;}
.maintop8 ul{list-style:none; width:236px; height:7px; margin-top:1px; padding-left:4px; text-align:center}
.maintop8 ul li{ float:left; padding:0px 0px 0px 0px; margin:0px; min-width:30px; line-height:19px;}
.maintop8 ul li a{ color:#FFF;}
.maintop9{width:240px; height:auto;}
.maintop9 ul{list-style:none; width:236px; height:7px; margin-top:1px; padding-left:4px;}
.maintop9 ul li{ padding:0px 0px 0px 0px; margin:0px; width:auto; line-height:25px; height:25px;}
.maintop10{width:240px; height:23px;}
.maintop11{width:240px;height:auto;padding:0px 0px 0px 4px;line-height: 1.5em;}
.maintop11 ul{ list-style:none; width:230px; height:auto; margin-top:1px; padding-left:5px;}
.maintop11 ul li{ padding:0px 0px 0px 0px; margin:0px; min-width:230px; line-height:20px; }
.maintop12{width:240px;height:auto;padding:0px 0px 0px 8px}
.maintop12 ul{ list-style:none; width:230px; height:auto; margin-top:1px; padding-left:5px;}
.maintop12 ul li{ padding:0px 0px 0px 0px; margin:0px; min-width:230px; line-height:20px; }
.bottom{width:240px; height:50px; background:url(../images/bottom.gif) repeat-x;text-align:center;padding-top:8px}
.bottom ul{ list-style:none; width:240px; height: auto; margin-top:1px; padding-left:0px; text-align:center;}
.bottom ul li{ padding:0px 0px 0px 0px; margin:0px; min-width:230px; line-height:20px; }
.logo{margin:0px; padding:3px; height:21px;}
.twyxlogo{  width:240px; min-height:24px;}
.twyxlogo2{width:240px; height:16px; line-height:16px;}
.twyxtop1{width:240px; height:23px; background:url(../images/twyx1.gif) no-repeat;}
.twyxtop3{width:240px; height:23px; background:url(../images/twyx2.gif) no-repeat;}
.twyxtop2{width:240px; height:auto;margin-left:10px;margin-top:1px}
.twyxtop2 ul{ margin-left:0px;list-style:none; width:230px; height:auto;margin-top:1px; padding-left:5px;}
.twyxtop2 ul li{ padding:0px 0px 0px 0px; margin:0px; min-width:230px; line-height:20px; }
.xndj{width:240px; height:auto;}
.xndjleft{ height:auto; margin-left:10px;}

.xndjjd_bn{width:100%; text-align:center; padding:5px 0px;}
.xndjjd_bn img{padding:1px; border:1px solid #000;}
.xndjjd_Nav{background:url(./images/xndjjd_18.gif) no-repeat; height:37px; line-height:17px; padding-top:2px;}
.xndjjd_Nav a{padding:0px 5px; color:#FFF;}
.xndjleft div.game {
    float: left;
    padding: 0 5px 0 0;
  }
.xndjright{ height: auto; margin-left:10px; float:left;}
.xndjright ul{ height:auto; list-style:none; margin:0px; padding:0px;}
.xndjright ul li{height:auto; line-height:17px;}
.ywxytop1{width:240px; height:23px; background: url(../images/ywxy1.gif) no-repeat;}

.more{  line-height:23px; color:#FFF;}
.gamename{ line-height:23px; color:#FFF; margin-left:15px;}
.gamename a{color:#fff;}
.more a{color:#FFF;}
.ywxytop2{width:240px; height:23px; background: url(../images/ywxy2.gif) no-repeat;}
.ywxytop3{width:230px; height:23px; background: url(../images/ywxy3.gif) no-repeat;}

/*.ywxytop4{ width:240px; height:37px; padding:0px;margin-top:1px }
.ywxytop4 ul{list-style:none; width:236px; height:7px; margin-top:1px; padding-left:4px; text-align:center}
.ywxytop4 ul li{ float:left; padding:0px 0px 0px 0px; margin:1px; min-width:30px; line-height:19px;}*/

.ywxytop4{ width:240px; height:40px; padding:1px; margin-top:1px;}
.ywxytop4 ul{list-style:none; width:238px; height:8px; margin-top:1px; padding-left:2px; text-align:center}
.ywxytop4 ul li{ float:left; padding:0px 0px 0px 0px; margin:0px; width:auto; line-height:18px;}
.ywxytop4 ul li a{ color:#000;}

.sjwytop1{width:240px; height:23px; background: url(../images/sjwy1.gif) no-repeat;}
.sjwytop2{width:240px; height:23px; background: url(../images/sjwy2.gif) no-repeat;}
.sjwytop3{width:240px; height:23px; background: url(../images/sjwy3.gif) no-repeat;}
.sjwytop4{width:240px; height:23px; background: url(../images/sjwy4.gif) no-repeat;}

.gmotherleft{width:240px; height:auto; margin-left:10px;}

.gmotherleft p.game {
    float: left;
    padding: 0 5px 0 0;
  }

.gmotherright{margin-left:80px}
.gmotherright ul{min-width:80px; height:auto; list-style:none; margin:0px; padding:0px;margin-left:10px}
.gmotherright ul li{min-width:80px; height:auto; margin-top:3px;line-height:14px; height:14px;margin-left:10px}


.gmother4{width:240px; background:url(../images/gmbottombg.gif) no-repeat; height:26px; text-align:center; line-height:26px; color: #FFFFFF}
.gmother4 a{color:#fff}
.zzbtop1{width:240px; height:21px; background:url(../images/zzbbg1.gif) no-repeat; line-height:21px; text-indent:90px; color:#FFFFFF}
.zzbtop2{width:240px; height:21px; background:url(../images/zzbbg2.gif) no-repeat; line-height:21px; text-indent:60px; color:#FFFFFF}
.zzbtop3{width:240px; height:21px; background:url(../images/zzbbg3.gif) no-repeat; line-height:21px; text-indent:60px; color:#FFFFFF}
.zzbtop4{width:240px; height:21px; background:url(../images/zzbbg4.gif) no-repeat; line-height:21px; text-indent:60px; color:#FFFFFF}
.zzbtop5{width:240px; height:21px; background:url(../images/zzbbg5.gif) no-repeat; line-height:21px; text-indent:60px; color:#FFFFFF}



.zzbtop5left{width:240px; height:auto; margin-left:10px;}

.zzbtop5left p.game {
    float: left;
    padding: 0 5px 0 0;
  }

.zzbtop5right{margin-left:75px}
.zzbtop5right ul{min-width:80px; height:auto; list-style:none; margin:0px; padding:0px;margin-left:10px}
.zzbtop5right ul li{min-width:80px; height:auto; margin-top:3px;line-height:14px; height:14px;margin-left:10px}

.pages{width:240px; height:20px; line-height:20px;}
.bottom2{width:240px; height:50px;}
.bottom2 ul{ list-style:none; width:220px; height:20px; margin-top:1px; padding-left:10px;}
.bottom2 ul li{ padding:0px 0px 0px 0px; margin:0px; min-width:230px; line-height:20px; }
.clear{ clear:both;}
.font2{ color:#0251b8; text-decoration:none;}
.font2 a{ color:#0251b8; text-decoration:none;}
.font3{ color:#fe0000; text-decoration:none;}
.font3 a{ color:#fe0000; text-decoration:none;}
.font4{ color:#810081; text-decoration:none;}
.font4 a{ color:#810081; text-decoration:none;}
.font5{ color:#0250b5; text-decoration:none;}
.font5 a{ color:#0250b5; text-decoration:none;}
.font6{ color:#aa650a; text-decoration:none;}
.font6 a{ color:#aa650a; text-decoration:none;}
.input{width:110px; height:16px; line-height:20px; border:0px; background:url(../images/input.gif) no-repeat;}
.li2{ height:30px; text-align:center; width:230px; line-height:30px;}
.li3{ height:18px; text-align:center; width:230px; line-height:15px;}



/*0120更新内容*/
.textCenter{width:240px; height:auto; text-align:center; line-height:20px;}
.textRight{width:220px; height:auto; text-align:right;}
.font7{font-weight:bold;}
.bannerbg{width:240px; height:21px; background:url(../images/0120bannerbg.gif) no-repeat;}
.left{float: left; width:100px; line-height:21px; color:#FFF; margin-left:15px; font-weight:bold;}
.right a{float: right; width:100px; line-height:21px;text-decoration:underline; color:#FFF; margin-right:15px; font-weight:bold; text-align:right}
#mainbg{ width:240px; background:url(../images/0120mainbg.gif) repeat; height:auto; color:#FFF}
.height16{height:16px; line-height:16px;}
.height16font{height:16px; line-height:16px;margin-top:2px}
.currentStep{
  padding-left:3px   
}
.step{
    padding-left:3px
}
.nextLink{
    padding-left:3px
    
}
.height16font a{ text-decoration:underline;}
.font10{ color:#087191; text-decoration:underline;}
.font11{ color:#087191;}
.inputtext{width:200px; height:14px; border:0; border:1px solid #333;}
/*0120更新内容*/

#content{width:240px; height:auto; margin:0px auto; background:#f5fee3;}
.List{width:100%; clear:both;}
	.img{padding:3px; float:left;}
	.img img{padding:1px; border:1px solid #000;}
	.List ul{margin:0px; padding:3px 0px; list-style:none;}
	.List ul li{margin:0px; padding:0px; line-height:16px;}
	.List ul li img{padding:0px 2px;}
.foot{text-align:center; border-bottom:1px solid #d1aa00; border-top:1px solid #d1aa00; height:43px; margin:5px 0px; background:#fdeea9; line-height:20px; color:#aa650b;}
.foot img{padding:0px 3px;}
