@charset "utf-8";
/* CSS Document */

/*登陆页*/

.Body{background-color:#1A5D88;}

.landBox{ width:100%; height:100%; overflow:hidden; background-color:#1A5D88; }

.landBox  .centerMatter{ width:843px; height:auto; overflow:hidden; margin:0 auto;} 

.centerMatter  .logo{ width:843px; height:117px; overflow:hidden; background:top no-repeat url(../imges/icon/2wde_07.jpg);}

.centerMatter  .title{ width:843px; height:114px; overflow:hidden; background:top no-repeat url(../imges/icon/2wde_08.jpg);}

.centerMatter  .LoginBox{width:843px; height:256px; overflow:hidden; background:top no-repeat url(../imges/icon/2wde_09.jpg);}


.LoginBox .CenterBack{float:left;width:377px; height:318px; overflow:hidden; margin-left:250px;_margin-left:125px;}

.CenterBack  .importA{ width: 255px; height:30px; overflow:hidden; margin:52px 0px 0px 68px;}

.CenterBack  .importA  input{ width:110px; height:20px; overflow:hidden; margin-left:25px;}

.CenterBack  .importA  label{ font-size:14px; color:#DBF2FF;}

.CenterBack  .importB{ width: 255px; height:30px; overflow:hidden; margin:5px 0px 0px 68px;}

.CenterBack  .importB  input{ width:110px; height:20px; overflow:hidden; margin-left:25px;}

.CenterBack  .importB  label{ font-size:14px; color:#DBF2FF;}

.CenterBack  .importC{ width: 255px; height:auto; overflow:hidden; margin:5px 0px 0px 68px;}

.CenterBack  .importC  input{ width:50px; height:20px; overflow:hidden; margin-left:20px;}

.CenterBack  .importD{ width: 255px; height:44px; overflow:hidden; margin:17px 0px 0px 70px;_margin:17px 0px 0px 50px;+margin:17px 0px 0px 35px;}

.CenterBack  .importD  .as{ float:left; cursor:pointer; border:0; width:85px; height:42px; overflow:hidden; margin-left:24px;_margin-left:20px; background:top no-repeat url(../imges/icon/ccccccc_03.jpg);}

.CenterBack  .importD  .cd{float:left;cursor:pointer; border:0; width:84px; height:42px; overflow:hidden; margin-left:14px;_margin-left:5px; background:top no-repeat url(../imges/icon/ccccccc_04.jpg);}


.CenterBack  .importC  label{ font-size:14px; color:#DBF2FF;}



.centerMatter  .footBox{text-align:center;color:#fff; width:843px; height:161px; overflow:hidden;background:top no-repeat url(../imges/icon/aaaa_10.jpg);}

.centerMatter  .footBox  span{ height:50px; line-height:50px; margin-left:20px;}

/*登陆页END*/


/*首页头部*/

#Head{ width:100%; height:99px;  background:top repeat-x url(../imges/icon/toubeij_02.jpg); }

.CenterM{ width:1077px;_width:1077px; height:auto;  margin:0 auto; text-align:center;}

.LeftLogo{ float:left; width:634px; height:59px; overflow:hidden; margin-top:20px;}

.RightPart{float:left; width:370px; height:auto;  margin:20px 0px 0px 35px;}

#Topanniu{float:left; width:240px; height:40px; overflow:hidden; padding-top:5px; padding-left:5px;}

.RightPart h4{ text-align:left; font-size:14px; color:#FFF; width:345px; height:22px; line-height:22px; overflow:hidden; margin:5px 0px 0px 20px;}

.RightPart h4 em{ float:right;}

.RightPart .Pacter{ font-size:14px; color:#999; width:360px; height:auto; margin:0px 0px 0px 15px;}

.RightPart .Pacter  h5{ float:left; width:112px; height:28px;line-height:24px; padding-left:10px; background:top no-repeat url(../imges/icon/ftgy_03.jpg);}


/*角色选择下拉框*/

#Menu_R{ float:left; text-align:left; font-size:12px; color:#333;  display:block;width:112px; height:auto;  background:top no-repeat url(../imges/icon/ftgy_03.jpg);float:left;  margin-top:3px; position:relative; }

#Menu_R  em{ width:112px; height:25px; line-height:25px; margin-left:5px;   }

#Menu_R  em a { text-decoration:none; color:#000;}



#Menu_R  .Menu_Foot{ background-color:#FFF; width:106px; height:auto;  border:1px solid #999; position:absolute; z-index:10; left:2px; _top:23px;+top:23px;}

.Menu_Foot  li{ text-align:center;width:106px; height:22px; line-height:22px; border-bottom:dashed 1px  #CCC;}

.Menu_Foot  li a{ font-size:13px; text-decoration:none;}
.Menu_CB{ float:left; width:60px; display:block; position:relative; margin:5px 0px 0px 11px; }

#downNav{font-size:12px; color:#FFF; margin:3px 10px 0px 10px;display:inline;}

.downNavHover #downNav{color:#000;}
/*当鼠标移动到上面时，原来的白色标题栏没有变色，是因为：没有定义上面的样式（只有当调用downNavHover样式时，才同时调用downNav样式）*/

.downNavHover { font-size:12px; color:#000;  display:inline; height:22px; padding:4px; border:0;}





/*首页头部END*/


/*导航栏*/

#navigate{ width:100%; height:52px; overflow:hidden; background:left repeat-x url(../imges/icon/werv_11.jpg); }

.NavCenter{ width:1080px; height:29px; margin:0px ; text-align:center; padding:5px; margin-top:3px;}

.NavCenter  .OA{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/werv_014.jpg);  font-size:14px; color:#FFF; display:block; width:80px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .OA:hover,.NavCenter  .OA.show{ background:top no-repeat url(../imges/icon/Tab/werv_14.jpg); color:#FFF;}

.NavCenter  .AB{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/aaa_03.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .AB:hover,.NavCenter  .AB.show{ background:top no-repeat url(../imges/icon/Tab/bbb_03.jpg); color:#FFF;}

.NavCenter  .CD{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/aaa_05.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .CD:hover,.NavCenter  .CD.show{ background:top no-repeat url(../imges/icon/Tab/bbb_05.jpg); color:#FFF;}

.NavCenter  .EF{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/aaa_07.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .EF:hover,.NavCenter  .EF.show{ background:top no-repeat url(../imges/icon/Tab/bbb_07.jpg); color:#FFF;}

.NavCenter  .FT{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/bbb_09.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .FT:hover,.NavCenter  .FT.show{ background:top no-repeat url(../imges/icon/Tab/aaa_09.jpg); color:#FFF;}

.NavCenter  .TY{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/aaa_11.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .TY:hover,.NavCenter  .TY.show{ background:top no-repeat url(../imges/icon/Tab/bbb_11.jpg); color:#FFF;}

.NavCenter  .UI{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/aaa_13.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .UI:hover,.NavCenter  .UI.show{ background:top no-repeat url(../imges/icon/Tab/bbb_13.jpg); color:#FFF;}

.NavCenter  .OP{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/aaa_15.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .OP:hover,.NavCenter  .OP.show{ background:top no-repeat url(../imges/icon/Tab/bbb_15.jpg); color:#FFF;}

.NavCenter  .LP{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/aaa_17.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .LP:hover,.NavCenter  .LP.show{ background:top no-repeat url(../imges/icon/Tab/bbb_17.jpg); color:#FFF;}

.NavCenter  .JI{ float:left; margin-right:3px; background:top no-repeat url(../imges/icon/Tab/aaa_19.jpg);  font-size:14px; color:#FFF; display:block; width:100px; height:29px; line-height:29px; overflow:hidden; text-decoration:none;}

.NavCenter  .JI:hover,.NavCenter  .JI.show{ background:top no-repeat url(../imges/icon/Tab/bbb_19.jpg); color:#FFF;}




/*导航栏END*/

/*滚动条*/

.rollNew{ width:1080px; height:28px; overflow:hidden; margin:10 auto}

.rollNew  .Leftbj{ float:left; width:63px; height:28px; overflow:hidden; background:top no-repeat url(../imges/icon/wsdrth_03.jpg);}

.rollNew  .Rightbj{float:left; width:7px; height:28px; overflow:hidden; background:top no-repeat url(../imges/icon/wsdrth_07.jpg);}

.rollNew  .Centerj{float:left; width:975px; height:28px; overflow:hidden; background:top repeat-x url(../imges/icon/wsdrth_05.jpg);  }


.Rsty{width:946px; line-height:28px; height:28px; font-size:12px; color:#FF6600; border:0; }
.Rsty a{ padding-left:20px; color:#444444; line-height:28px; height:28px; text-decoration:none; margin-right:20px; background:left no-repeat url(../imges/icon/edftg_03.jpg);}
.Rsty a:hover{color:#444444; line-height:28px; height:28px; text-decoration:none;}




/*滚动条END*/


/*关键指标*/

.KeyIndicators{ float:left; width:725px;+width:747px; height:auto; overflow:hidden; margin:10px 0px 10px 0px; background:top no-repeat url(../imges/icon/uuu_03.jpg);  }

.KeyIndicators  h4{  font-size:14px; font-weight:bold; color:#1C5582; text-align:left; width:690px; height:31px; line-height:31px; margin-left:35px;}

#Em{ float:right; padding-right:10px; font-size:12px; font-weight:normal; }

#Em  a{ float:left;text-decoration:none; margin:0 3px;color:#1C5582;}

#Em  a:hover{ color:#F00;}

#Em  a  img{ margin-top:7px;}

.MatterKey{ width:725px; height:640px;height:640px\9; _height:640px;+height:640px; overflow:hidden; background:top repeat-y url(../imges/icon/uuu_05.jpg);  }

.FootKey{width:725px; height:5px; overflow:hidden; background:top no-repeat url(../imges/icon/uuu_07.jpg);}
/*关键指标END*/


/*右侧栏目*/


/*公告栏*/
.RightSide{ float:left; width:310px;+width:312px; height:auto; overflow:hidden; margin:10px 0px 0px 10px;  _margin:10px 0px 0px 0px; }

.rightCommon{width:310px; +width:312px;height:auto; overflow:hidden; background:top no-repeat url(../imges/icon/hhh_03.jpg); margin-bottom:10px;}


.rightCommon  h5{font-size:14px; font-weight:bold; color:#1C5582; text-align:left; width:300px;+width:290px; height:35px; line-height:35px; margin-left:10px;}

.rightCommon ul{width:310px; height:auto; overflow:hidden; background:top repeat-y url(../imges/icon/hhh_05.jpg);}

.rightCommon ul li{ text-align:left; width:290px; height:23px; line-height:23px; overflow:hidden; margin-left:10px; background:left no-repeat url(../imges/icon/swsvvd_03.jpg); padding-left:10px; }

.rightCommon ul li  a{  color:#1C5582; text-decoration:none;}

.rightCommon ul li  a:hover{ color:#F00;}

.RinghtLBing{ float:left; width:310px; height:5px; overflow:hidden; background:top no-repeat url(../imges/icon/hhh_07.jpg); }


/*营销表格*/

.Marketing{ float:left; width:310px;+width:312px; height:210px;_height:211px;+height:211px; background:top repeat-y url(../imges/icon/hhh_05.jpg);}

.TableMatter{ width:95%; height:auto; padding:5px 0 10px 10px;+padding:5px 0 10px 0px;}

.TableMatter  a{ margin:0px 0px 0px 1px; +margin-left:1px;text-decoration:none; font-size:12px; color:#1C5582; display:block; float:left; width:71px; height:27px; line-height:30px; background:top no-repeat url(../imges/icon/wderg_04.jpg);}

.TableMatter a:hover,#TableMatter a.show{ background:top no-repeat url(../imges/icon/wderg_03.jpg); font-weight:bold;text-decoration:none;color:#F30;}

.TableMatter  table{  width:98%;+width:96.5%; height:auto; overflow:hidden; margin:1px 0px 5px 1px;}

.TableMatter  table  tr{ width:100%;height:28px; line-height:28px;  overflow:hidden;}

.TableMatter  table  tr th{ width:20%;background-color:#DDE6F6; color:#F30; }

.TableMatter  table  tr td{ border-bottom:1px dashed #CDCDCD;}





/*右侧栏目END*/

/*底部*/

.footbox{ width:100%; height:51px; line-height:51px; color:#FFF; overflow:hidden; background:top repeat-x url(../imges/icon/klp_03.jpg); text-align:center; +margin-top:10px;}



/*登陆页弹出框*/

.append_parent { position:relative; width:360px; margin:0px auto; }

.append_child{ position:absolute; z-index:5; margin-top:104px; margin-left:390px; _margin:244px 0px 0px -5px; }

.append_childW{ position:absolute; z-index:5; margin-top:244px; margin-left:8px; _margin:244px 0px 0px -5px; }

.LoginPop{ width:360px; height:229px; background:top no-repeat url(../imges/icon/tanc_07.jpg); }

.LoginPop h4{ font-size:18px; color:#005F95; width:300px; height:55px; line-height:55px; overflow:hidden; margin-left:30px;_margin-left:45px;}

.LoginPop h5{ font-size:14px;color:#005F95;width:340px; height:30px; line-height:30px; overflow:hidden; margin-left:30px;_margin-left:45px;}

.LoginPop  .confirm{ width:360px; height:43px; overflow:hidden; margin-left:60px; margin-bottom:10px; +margin:0px 0px 0px 30px;}

.LoginPop  .confirm  .shuru{width:140px; height:18px; overflow:hidden; border:0; float:left\9; margin-top:12px\9; _margin-left:15px;  }

.LoginPop  .confirm  .queren{width:84px;cursor:pointer; margin-left:20px; height:43px; overflow:hidden; border:0; background:top no-repeat url(../imges/icon/wsd_03.jpg);}

.LoginPop h6{ font-size:12px; color:#005F95; width:300px; height:20px; line-height:20px; overflow:hidden; margin-left:30px;_margin-left:45px;}


.LoginPop h6 a{color:#005F95;}


/*谷歌验证框hack*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
.LoginPop  .confirm  .shuru{ float:left;width:140px; height:18px; overflow:hidden; border:0; margin-top:12px;}

.LoginPop  .confirm  .queren{float:left;width:84px;cursor:pointer; margin-left:20px; height:43px; overflow:hidden; border:0; background:top no-repeat url(../imges/icon/wsd_03.jpg);}
}

/*左侧空白区域填充框*/ 

.statistics{ width:715px; height:635px; overflow:hidden; margin:5px auto 0px; }

/*修改密码*/

.append_parentA { position:relative; width:360px; margin:0; }

.append_childA{ position:absolute; z-index:5; margin-top:77px; margin-left:500px; _margin:244px 0px 0px -5px; }

/*.correct{ width:279px; height:213px; background:top no-repeat url(../imges/icon/mima_03.jpg);}

.correcth{ height:40px; line-height:48px; width:170px; font-size:16px; color:#1D537F; margin-left:100px;}

.correcth  em{ float:right; margin-top:10px;}

.correct ul{ width:250px; height:auto; overflow:hidden; margin: 10px 0px 5px 10px; font-size:13px; color:#1D537F;}

.correct ul  li{ width:250px; height:35px; line-height:35px; }

.correct ul  li label { float:left;text-align:right; width:80px; height:30px; line-height:30px; overflow:hidden;}
.correct ul  li  input{ height:22px; width:140px; border:1px solid #CCC; }

.correct  .Aniu{ width:300px; height:34px; overflow:hidden;}

.correct  .Aniu  .Tijiao{ margin-left:50px; width:70px; height:34px; background:top no-repeat url(../imges/icon/mi_07.jpg); margin-right:20px;}

.correct  .Aniu  .Chongzhi{ width:70px; height:34px; background:top no-repeat url(../imges/icon/mi_09.jpg);}*/


/*弹出公告框*/

.bulletin{ width:366px; height:424px; overflow:hidden ; background: top no-repeat url(../imges/icon/gong_03.jpg); border:6px solid #0B92CD;}

.correcthA{ height:40px; line-height:48px; width:210px; font-size:16px; color:#1D537F; margin-left:150px;}

.correcthA  em{ float:right; margin-top:10px;}

.bulletin ul{ width:370px; height:auto; overflow:hidden; margin: 10px 0px 5px 10px; font-size:13px; color:#1D537F;}

.bulletin ul  li{ width:350px; height:35px; line-height:35px; }

.bulletin ul  li label { float:left;text-align:right; width:80px; height:30px; line-height:30px; overflow:hidden;}

.bulletin ul  li  .Divinput{float:left; height:25px; line-height:25px; color:#666; width:235px; border-bottom:1px dashed #CCC; overflow:hidden;  }

#Li{width:350px; height:auto;}

#Li  .Divtextarea{float:left;  width:235px; height:150px;line-height:20px;color:#666;  overflow-y:scroll; overflow-x:hidden; border:1px dashed #CCC; border-top:0; margin-top:5px;}

.bulletin  .Aniu{ width:300px; height:34px; overflow:hidden;}

.bulletin  .Aniu  .Tijiao{ margin-left:150px; width:70px; height:34px; background:top no-repeat url(../imges/icon/mi_07.jpg); margin-right:20px;}

/*右侧框内填充定位*/

.PositioningTable{ float:left; width:292px; height:230px; overflow:hidden; margin:5px 0px 5px 8px;}



/*左侧框架*/

/*修改密码扁框*/
.Correct{ width:673px; height:65px; background:top no-repeat url(../imges/icon/weg_02.jpg);}

.Correcth{ float:right; height:40px; line-height:48px; width:15px; font-size:16px; color:#1D537F; margin-right:10px;}

.Correcth  em{ float:right; margin-top:10px;}

.Correct ul{ float:left; width:480px; height:auto; overflow:hidden; margin: 15px 0px 5px 10px; font-size:13px; color:#1D537F;}

.Correct ul  li{ float:left; width:160px; height:35px; line-height:35px; }

.Correct ul  li  input{ height:22px; width:88px; border:1px solid #CCC; }

.Correct  .Aniu{ float:left; width:150px; height:34px; overflow:hidden; margin-top:17px;}

.Correct  .Aniu  .Tijiao{ margin-left:0px; width:70px; height:34px; background:top no-repeat url(../imges/icon/mi_07.jpg); margin-right:5px;}

.Correct  .Aniu  .Chongzhi{ width:70px; height:34px; background:top no-repeat url(../imges/icon/mi_09.jpg);}

