@charset "utf-8";

/* CSS Document */


* { 
padding: 0; 
margin: 0; 
border: 0; 
}
input {outline: none;}

textarea {outline: none;}

body, th, td, input, select, textarea, button { font: 12px/1.5em Verdana, "Lucida Grande", Arial, Helvetica, sans-serif; }

body, h1, h2, h3, h4, h5, h6, p,ol, ul, dl, dt,input, dd, form, fieldset { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, form{ font-style:normal; font-weight:normal;}

ul li { list-style: none; }

a { color:#000; text-decoration: underline; }

a img { border:none; }

a:hover { color:red; text-decoration:underline; }

em{font-style:normal;}

.clear{ clear:both;}

/*填加谷歌hack*/
input {outline: none;}

textarea {outline: none;}

/*填加谷歌hack*/
